.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe4f3e;
  box-shadow: 5px 5px 10px black, -5px -5px 10px gray;
  height: 10%;
  width: 50%;
  border-radius: 50px;
  margin-top: 15px;
}
.main:hover {
  cursor: pointer;
}

.text {
  color: #fcfefd;
  font-size: 42px;
  font-weight: bold;
  font-family: "Mystery Quest";
}
